{% extends 'template.html.twig' %}

{% block title %}Edit Facture achat{% endblock %}

{% block body %}
<div class="container-xl">
    <div class="card" style="margin: 17px; height: 75px ">

        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    {{ form_start(form) }}
                    <div class="card-body">
                        <h3 class="card-title">Modifier Facture achat</h3>
                        <div class="row row-cards">
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    {{ form_row(form.fournisseur) }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    {{ form_row(form.date) }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    {{ form_row(form.numero) }}
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="mb-3">
                                    {{ form_row(form.pieceJointe) }}
                                </div>
                            </div>


                        </div>
                        <div class="row justify-content-end">
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    {{ form_row(form.TotalHT) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    {{ form_row(form.TotalTVA) }}
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    {{ form_row(form.TotalTTC) }}
                                </div>

                            </div>
                            <div class="col-lg-2">
                                <div class="mb-3">
                                    {{ form_row(form.timbre) }}
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

                        </div>



                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <script>#}
{#        document#}
{#            .querySelectorAll('#addLigne')#}
{#            .forEach(btn => {#}
{#                btn.addEventListener("click", addFormToCollection)#}
{#            });#}
{#        document#}
{#            .querySelectorAll('div#ligne ')#}
{#            .forEach((tag) => {#}
{#                addTagFormDeleteLink(tag)#}
{#            })#}

{#        function addFormToCollection(e) {#}
{#            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);#}

{#            const item = document.createElement('div');#}
{#            item.className="card";#}
{#            item.style.padding="15px"#}
{#            item.style.margin="15px"#}
{#            item.innerHTML = collectionHolder#}
{#                .dataset#}
{#                .prototype#}
{#                .replace(#}
{#                    /__name__/g,#}
{#                    collectionHolder.dataset.index#}
{#                );#}
{#            item.querySelector('div').classList.add('row', 'mb-3', 'align-items-end');#}
{#            item.querySelectorAll('div > div').forEach(col => {#}
{#                col.classList.add('col');#}
{#            });#}

{#            collectionHolder.appendChild(item);#}

{#            collectionHolder.dataset.index++;#}
{#            addTagFormDeleteLink(item);#}
{#        }#}

{#        function addTagFormDeleteLink(item) {#}
{#            const removeFormButton = document.createElement('button');#}
{#            removeFormButton.innerText = 'Delete this Ligne';#}
{#            removeFormButton.classList.add('btn', 'btn-danger'); // Adding Bootstrap classes for styling#}

{#            // Wrap the delete button in a div with class col-1#}
{#            const deleteWrapper = document.createElement('div');#}
{#            deleteWrapper.appendChild(removeFormButton);#}
{#            item.appendChild(deleteWrapper);#}

{#            removeFormButton.addEventListener('click', (e) => {#}
{#                e.preventDefault();#}
{#                // remove the div for the tag form#}
{#                item.remove();#}
{#            });#}
{#        }#}
{#    </script>#}
{#    <script>#}
{#        // Function to get selected RS and TVA values#}
{#        // Get the RS and TVA select elements#}
{#        document.addEventListener('DOMContentLoaded', function() {#}
{#            // Fonction pour mettre à jour le total HT d'une ligne#}
{#            function updatePrixTotalHT(ligneContainer) {#}
{#                var prixUnitaireField = ligneContainer.querySelector('[id^="facture_ligneFactures_"][id$="_prixUnitaire"]');#}
{#                var quantiteField = ligneContainer.querySelector('[id^="facture_ligneFactures_"][id$="_quantite"]');#}
{#                var prixTotalHTField = ligneContainer.querySelector('[id^="facture_ligneFactures_"][id$="_totalHT"]');#}
{#                if (!prixUnitaireField || !quantiteField || !prixTotalHTField) {#}
{#                    return;#}
{#                }#}
{#                var prixUnitaire = parseFloat(prixUnitaireField.value);#}
{#                var quantite = parseInt(quantiteField.value);#}
{#                var prixTotalHT = prixUnitaire * quantite;#}
{#                prixTotalHTField.value = prixTotalHT.toFixed(2);#}
{#            }#}

{#            // Fonction pour mettre à jour les totaux généraux#}
{#            function updateTotals() {#}
{#                updateTotalHT();#}
{#                updateTotalTVA();#}
{#                updateTotalTTC();#}
{#            }#}

{#            // Fonction pour gérer les événements d'entrée#}
{#            function handleInput(event) {#}
{#                var target = event.target;#}
{#                if (target.id.includes('_prixUnitaire') || target.id.includes('_quantite')) {#}
{#                    updatePrixTotalHT(target.closest('.row'));#}
{#                }#}
{#                updateTotals();#}
{#            }#}

{#            // Fonction pour mettre à jour le total HT de toutes les lignes#}
{#            function updateTotalHT() {#}
{#                var totalHTFields = document.querySelectorAll('[id^="facture_ligneFactures_"][id$="_totalHT"]');#}
{#                var totalHT = 0;#}
{#                totalHTFields.forEach(function(field) {#}
{#                    if (!isNaN(parseFloat(field.value))) {#}
{#                        totalHT += parseFloat(field.value);#}
{#                    }#}
{#                });#}
{#                document.getElementById('facture_Total_HT').value = totalHT.toFixed(2);#}
{#            }#}

{#            // Fonction pour mettre à jour le total TVA#}
{#            function updateTotalTVA() {#}
{#                var totalHT = parseFloat(document.getElementById('facture_Total_HT').value);#}
{#                var totalTVA = totalHT * tvaRate;#}
{#                document.getElementById('facture_Total_TVA').value = totalTVA.toFixed(2);#}
{#            }#}

{#            // Fonction pour mettre à jour le total TTC#}
{#            function updateTotalTTC() {#}
{#                var totalHT = parseFloat(document.getElementById('facture_Total_HT').value);#}
{#                var totalTVA = parseFloat(document.getElementById('facture_Total_TVA').value);#}
{#                var totalTTC = totalHT + totalTVA;#}
{#                document.getElementById('facture_Total_TTC').value = totalTTC.toFixed(2);#}
{#            }#}

{#            // Fonction pour mettre à jour les taux TVA#}
{#            function updateRates() {#}
{#                const selectedTVA = tvaSelect.options[tvaSelect.selectedIndex].text;#}
{#                tvaRate = parseFloat(selectedTVA.replace('%', '')) / 100;#}
{#            }#}

{#            // Ajouter les écouteurs d'événements#}
{#            document.addEventListener('input', handleInput);#}
{#            const tvaSelect = document.getElementById('facture_tva');#}
{#            var tvaRate;#}

{#            tvaSelect.addEventListener('input', updateRates);#}
{#        });#}




{#    </script>#}





    {% endblock %}
