{% extends '../base.html.twig' %}

{% block title %}FactureAchat{% endblock %}

{% block body %}
    <h1>FactureAchat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture_achat.id }}</td>
            </tr>
            <tr>
                <th>TotalHT</th>
                <td>{{ facture_achat.TotalHT }}</td>
            </tr>
            <tr>
                <th>TotalTVA</th>
                <td>{{ facture_achat.TotalTVA }}</td>
            </tr>
            <tr>
                <th>Timbre</th>
                <td>{{ facture_achat.timbre }}</td>
            </tr>
            <tr>
                <th>TotalTTC</th>
                <td>{{ facture_achat.TotalTTC }}</td>
            </tr>
            <tr>
                <th>PieceJointe</th>
                <td>{{ facture_achat.pieceJointe }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_achat_index') }}">back to list</a>

    <a href="{{ path('app_facture_achat_edit', {'id': facture_achat.id}) }}">edit</a>

    {{ include('facture_achat/_delete_form.html.twig') }}
{% endblock %}
