<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta19
* @link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Forgot password - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="{{ asset('assets/dist/css/tabler.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-flags.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-payments.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/tabler-vendors.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('assets/dist/css/demo.min.css') }}" rel="stylesheet"/>
    <style>
        @import url('https://rsms.me/inter/inter.css');
        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }
        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head><script src="{{ asset('assets/dist/js/demo-theme.min.js') }}"></script>
<body  class=" d-flex flex-column" data-bs-theme="dark">

<div class="page page-center">
    <div class="container container-tight py-4">
        <div class="text-center mb-4">
            <a href="." class="navbar-brand navbar-brand-autodark">
                <img src="{{ asset('assets/static/logo.png') }}" height="36" alt="">
            </a>
        </div>
        <form class="card card-md" action="{{ path('app_lock') }}" method="post" autocomplete="off" novalidate>
            <div class="card-body text-center"><div class="mb-4">

                    <h3>{{ app.user.email }}</h3>
                </div>
                <div class="mb-4">
                    <h2 class="card-title">Account Locked</h2>
                    <p class="text-muted">Please enter your password to unlock your account</p>
                    {% if error_message %}
                        <p class="text-muted">{{ error_message }}</p>

                    {% endif %}
                </div>

                <div class="mb-4">
                    <!-- Password input field -->
                    <input type="password" class="form-control" name="password" placeholder="Password…">
                </div>
                <div>
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary w-100">
                        <!-- Download SVG icon from http://tabler-icons.io/i/lock-open -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M5 11m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                            <path d="M12 16m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                            <path d="M8 11v-5a4 4 0 0 1 8 0" />
                        </svg>
                        Unlock
                    </button>
                </div>
                <!-- Display error message here if needed -->
{#                {% if error_message %}#}
{#                    <p class="text-danger">{{ error_message }}</p>#}
{#                {% endif %}#}
            </div>
        </form>
    </div>
</div>

<!-- Libs JS -->
<!-- Tabler Core -->
<script src="{{ asset('assets/dist/js/tabler.min.js') }}" defer></script>
<script src="{{ asset('assets/dist/js/demo.min.js') }}" defer></script>
</body>
</html>
