{% extends 'base.html.twig' %}

{% block title %}FormationAssurer index{% endblock %}

{% block body %}
    <h1>FormationAssurer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateDebut</th>
                <th>Unite</th>
                <th>Quantite</th>
                <th>PrixUnitaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation_assurer in formation_assurers %}
            <tr>
                <td>{{ formation_assurer.id }}</td>
                <td>{{ formation_assurer.dateDebut ? formation_assurer.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ formation_assurer.unite }}</td>
                <td>{{ formation_assurer.quantite }}</td>
                <td>{{ formation_assurer.prixUnitaire }}</td>
                <td>
                    <a href="{{ path('app_formation_assurer_show', {'id': formation_assurer.id}) }}">show</a>
                    <a href="{{ path('app_formation_assurer_edit', {'id': formation_assurer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formation_assurer_new') }}">Create new</a>
{% endblock %}
