{% extends 'base.html.twig' %}

{% block title %}New LigneNoteHonoraire{% endblock %}

{% block body %}
    <h1>Create new LigneNoteHonoraire</h1>
    {{ form_start(form) }}
    {{ form_row(form.designation) }}
    {{ form_row(form.qantite) }}
    {{ form_row(form.prixUnitaire) }}
    {{ form_row(form.prixTotalHT) }}
    {{ form_row(form.unite) }}

    {{ form_end(form) }}


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var formationAssurerSelect = document.getElementById('ligne_note_honoraire_designation');
            var quantiteField = document.getElementById('ligne_note_honoraire_qantite');
            var prixUnitaireField = document.getElementById('ligne_note_honoraire_prixUnitaire');

            formationAssurerSelect.addEventListener('change', function() {
                var selectedFormationId = formationAssurerSelect.value;

                // Make an AJAX request to fetch prixUnitaire and quantite for the selected FormationAssurer
                var url = '{{ path('fetch_formation_assurer_details', {'id': '__id__'}) }}';
                url = url.replace('__id__', selectedFormationId);

                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        // Update the quantite and prixUnitaire fields with the fetched values
                        quantiteField.value = data.quantite;
                        prixUnitaireField.value = data.prixUnitaire;
                    })
                    .catch(error => console.error('Error:', error));
            });
        });
    </script>

    <a href="{{ path('app_ligne_note_honoraire_index') }}">back to list</a>
{% endblock %}
