{% extends '../base.html.twig' %}

{% block title %}Timbre{% endblock %}

{% block body %}
    <h1>Timbre</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ timbre.id }}</td>
            </tr>
            <tr>
                <th>Taux</th>
                <td>{{ timbre.taux }}</td>
            </tr>
            <tr>
                <th>Date_application</th>
                <td>{{ timbre.dateApplication ? timbre.dateApplication|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_timbre_index') }}">back to list</a>

    <a href="{{ path('app_timbre_edit', {'id': timbre.id}) }}">edit</a>

    {{ include('timbre/_delete_form.html.twig') }}
{% endblock %}
