{% extends 'template.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="page-header d-print-none">
        <div class="container-xl">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <h2 class="page-title">
                        Formateur details
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-xl">
            <div class="row row-cards">
                <div class="col-md-6">
                    <div class="row row-cards">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">les informations de formateur</h3>
                                </div>
                                <div class="card-status-start bg-primary"></div>
                                <div class="row">
                                    <div class="col-3">
                                        <!-- Photo -->
                                        <img src="{{ asset('uploads/formateur-image/') }}{{ formateur.image }}" class="w-100 h-100 object-cover card-img-start" style="padding: 10px"/>
                                    </div>
                                    <div class="col" >
                                        <div class="card-body" >
                                            <h3 class="card-title">{{ formateur.nom }}</h3>
                                            <p class="text-muted"> <strong>Email : </strong> {{ formateur.email }}</p>
                                            <p class="text-muted"> <strong>Tel : </strong> {{ formateur.telephone }}</p>
                                            <p class="text-muted"> <strong>Adresse : </strong> {{ formateur.adresse }}</p>
                                            <p class="text-muted"> <strong>CIN : </strong>  {{ formateur.cin }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des formations assurées</h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter text-nowrap datatable" >
                                        <thead>
                                        <tr>


                                            <th>Titre</th>
                                            <th>Formateur</th>
                                            <th>date debut</th>
                                            <th>quantite</th>
                                            <th>Prix Unitaire</th>

                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for formation in formation_assurers %}
                                            <tr>


                                                <td>
                                                    <div class="d-flex py-1 align-items-center">
                                                        <div class="flex-fill">
                                                            <div class="font-weight-medium">{{ formation.formation.titre }}</div>
                                                            <div class="text-muted" >{{ formation.formation.domaine.titre }}</div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ formation.formateur.nom }}   {{ formation.formateur.prenom }}
                                                </td>



                                                <td>
                                                    {{ formation.dateDebut | date('Y-m-d')}}
                                                </td>


                                                <td>{{ formation.quantite }}</td>
                                                <td>{{ formation.puFormation }}</td>


                                            </tr>




                                        {% else %}
                                            <tr>
                                                <td colspan="9">no records found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row row-cards">

                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Liste des notes d'honoraire </h3>
                                </div>
                                <div class="table-responsive">
                                    <table class="table card-table table-vcenter text-nowrap datatable" >
                                        <thead>
                                        <tr>

                                            <th class="w-1">No. <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up -->
                                            </th>
                                            <th>Numero</th>

                                            <th>date</th>
                                            <th>Etat</th>

                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for NoteHonoraire in note_honoraires %}
                                            <tr>

                                                <td><span class="text-muted">{{ NoteHonoraire.id }}</span></td>
                                                <td>
                                                    <div class="d-flex py-1 align-items-center">
                                                        <div class="flex-fill">
                                                            <div class="font-weight-medium">{{ NoteHonoraire.numero }}</div>

                                                        </div>
                                                    </div>
                                                </td>


                                                <td>
                                                    {{ NoteHonoraire.date | date('Y-m-d') }}

                                                </td>
                                                <td>

                                                    {% if NoteHonoraire.etat=="Non payé" %}
                                                        <span class="badge bg-warning me-1"></span> Non payé
                                                    {% elseif NoteHonoraire.etat=="payé" %}
                                                        <span class="badge bg-success me-1"></span> payé
                                                    {% else %}
                                                        <span class="badge bg-success me-1"></span> partiellement payé
                                                    {% endif %}
                                                </td>





                                                <td class="text-end">
                                                    <a href="{{ path('app_note_honoraire_print',{'id':NoteHonoraire.id}) }}">
                                                        <button class="btn btn-warning" data-bs-boundary="viewport" >
                                                            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-printer"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" /><path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" /><path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" /></svg>
                                                            Print</button>
                                                    </a>


                                                    <a href="{{ path('app_note_honoraire_edit',{'id':NoteHonoraire.id}) }}">
                                                        <button class="btn btn-primary">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                                            Edit</button>
                                                    </a>

                                                    <a href=""  data-bs-toggle="modal" data-bs-target="#modal-danger{{ NoteHonoraire.id }}">
                                                        <button class="btn btn-danger">
                                                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 6a1 1 0 0 1 .117 1.993l-.117 .007h-.081l-.919 11a3 3 0 0 1 -2.824 2.995l-.176 .005h-8c-1.598 0 -2.904 -1.249 -2.992 -2.75l-.005 -.167l-.923 -11.083h-.08a1 1 0 0 1 -.117 -1.993l.117 -.007h16z" stroke-width="0" fill="currentColor" /><path d="M14 2a2 2 0 0 1 2 2a1 1 0 0 1 -1.993 .117l-.007 -.117h-4l-.007 .117a1 1 0 0 1 -1.993 -.117a2 2 0 0 1 1.85 -1.995l.15 -.005h4z" stroke-width="0" fill="currentColor" /></svg>
                                                            Delete</button>
                                                    </a>
                                                </td>
                                                <div class="modal modal-blur fade" id="modal-danger{{ NoteHonoraire.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                                                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            <div class="modal-status bg-danger"></div>
                                                            <div class="modal-body text-center py-4">
                                                                <!-- Download SVG icon from http://tabler-icons.io/i/alert-triangle -->
                                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10.24 3.957l-8.422 14.06a1.989 1.989 0 0 0 1.7 2.983h16.845a1.989 1.989 0 0 0 1.7 -2.983l-8.423 -14.06a1.989 1.989 0 0 0 -3.4 0z" /><path d="M12 9v4" /><path d="M12 17h.01" /></svg>
                                                                <h3>Are you sure?</h3>
                                                                <div class="text-muted">Do you really want to remove {{ NoteHonoraire.numero }} with id : {{ NoteHonoraire.id }}</div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <div class="w-100">
                                                                    <div class="row">
                                                                        <div class="col"><a href="" class="btn w-100" data-bs-dismiss="modal">
                                                                                Cancel
                                                                            </a></div>
                                                                        <div class="col" data-bs-dismiss="modal">
                                                                            <a href="{{ path('app_note_honoraire_delete',{id:NoteHonoraire.id}) }}" class="btn btn-danger w-100"> Delete this Note </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </tr>




                                        {% else %}
                                            <tr>
                                                <td colspan="9">no records found</td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#<div class="card " >#}
{#    <div class="card-status-start bg-primary"></div>#}
{#    <div class="row">#}
{#        <div class="col-3">#}
{#            <!-- Photo -->#}
{#            <img src="{{ asset('uploads/client-image/') }}{{ client.image }}" class="w-100 h-100 object-cover card-img-start" style="padding: 10px"/>#}
{#        </div>#}
{#        <div class="col" >#}
{#            <div class="card-body" >#}
{#                <h3 class="card-title">{{ client.nom }}</h3>#}
{#                <p class="text-muted"> <strong>Email : </strong> {{ client.email }}</p>#}
{#                <p class="text-muted"> <strong>Tel : </strong> {{ client.telephone }}</p>#}
{#                <p class="text-muted"> <strong>Adresse : </strong> {{ client.adresse }}</p>#}
{#                <p class="text-muted"> <strong>MF : </strong>  {{ client.matriculeFiscale }}</p>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#                {% for formationAssurer in formations %}#}
{#                    <li>#}
{#                        Formation: {{ formationAssurer.formation.titre }}<br>#}
{#                        Date Début: {{ formationAssurer.dateDebut ? formationAssurer.dateDebut|date('Y-m-d') : 'No Date' }}<br>#}
{#                        Quantité: {{ formationAssurer.quantite }}<br>#}
{#                        Formateur: {{ formationAssurer.formateur.nom }}<br>#}
{#                        Unite: {{ formationAssurer.unite.titre }}<br>#}
{#                        PU Formation: {{ formationAssurer.puFormation }}#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>No formations found for this client.</li>#}
{#                {% endfor %}#}

{#                {% for facture in factures %}#}
{#                    <li>#}
{#                        Description: {{ facture.numero }}<br>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>No factures found for this client.</li>#}
{#                {% endfor %}#}